.btn {
  border: none;
  background: none;
  cursor: pointer;
}

.btn__log-in,
.btn__search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn__login-in_icon,
.btn__search_icon {
  width: 24px;
  height: 24px;
  stroke: var(--primary);
  transition: stroke 0.3s ease-in-out;
}

.btn__log-in:hover .btn__login-in_icon,
.btn__search:hover .btn__search_icon {
  stroke: var(--hover);
}

.btn__log-in:focus-visible,
.btn__search:focus-visible {
  outline: 1px solid var(--focus);
}

.btn__log-in:active .btn__login-in_icon,
.btn__search:active .btn__search_icon {
  stroke: var(--active);
}
